body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}


button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 10px;
    border: 0px;
    font-weight: bold;
    font-size: 19px;
    background-color: silver;
}
button:active{
    box-shadow: 1px 5px 5px black;
}

.on{
    background-color: greenyellow;
}

.R{
    background-color: royalblue
}

.off{
    background-color: red;
}

img {
    border-radius: 50%;
    animation: fananim linear infinite;
}
@keyframes fananim {
    100% {
        transform: rotate(360deg);
    }
}

.reverse {
    animation: reversefananim linear infinite;
}

@keyframes reversefananim {
    100% {
        transform: rotate(-360deg);
    }
}